@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

/************
general themes 
************/

body {
    background:#111;
    color:#ced4da;
    font-family: 'Monda', sans-serif;
    font-size:1.2rem;
}

.flex {
    display:flex;
    height:100vh;
    align-items:center;
}

a {
 color:#ced4da;
 text-decoration:none;
    transition:all .4s ease;
}

a:hover, a.focus, a.active {
 color:#FF3FD5;
 text-decoration:none;
    transition:all .4s ease;
}

h1.title {
    font-size:6vw;
    text-transform:uppercase;
    letter-spacing:2px;
    animation-duration: 0.01s;
    animation-name: cyclone;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes cyclone {
  from {
    text-shadow: 2px 0 0 #FF3FD5, -4px 0 0 #43C7FF;
  }
  to {
    text-shadow: 4px 2px 0 #FF3FD5, -2px 2px 0 #43C7FF;
  }
}

p {
    margin:0;
    margin-bottom:.5rem;
}

hr {
    border:0;
    border-top:1px solid rgba(255,255,255,.2);
    margin:0 auto 1.5rem auto;
}

.ml-2 {
    margin:0;
    margin-left:1rem;
}

.btn.btn-primary {
    display:block;
    background:transparent;
    border:1px solid white;
    border-radius:0;
    text-transform:uppercase;
    letter-spacing:2px;
    padding:1rem;
    font-size:2rem;
    transition:all .4s ease;
}

.btn.btn-primary:hover,.btn.btn-primary:focus,.btn.btn-primary.active {
    letter-spacing: 4px;
    color:#fff;
    border:1px solid #fff;
    transition:all .4s ease;
}

::-moz-selection { background: transparent;}
::selection { background: transparent;}


.static {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:url(https://cdn.discordapp.com/attachments/746833184662224966/940698343192018964/ezgif.com-gif-maker.gif) center fixed;
    opacity:.8;
    z-index:-1;
}

.scanlines {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:url(https://blackwings.neocities.org/ti/tile01.gif) center fixed;
    background-size:5px;
    opacity:.1;
    z-index:-1;
}

::-webkit-scrollbar {
    width: 0;
}
