@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

/************
general themes 
************/

body {
    background:#111;
    color:#fff;
    font-family: 'Lacquer', cursive;
    font-size:1.2rem;
}

a {
 color:#fff;
 text-decoration:none;
    transition:all .4s ease;
}

a:hover, a.focus, a.active {
 color:#FF3FD5;
 text-decoration:none;
    transition:all .4s ease;
}

h1 {
    color:transparent;
    text-align:center;
    margin-bottom:.5rem;
    animation-duration: 0.01s;
    animation-name: cyclone;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes cyclone {
  from {
    text-shadow: 2px 0 0 #FF3FD5, -4px 0 0 #43C7FF;
  }
  to {
    text-shadow: 4px 2px 0 #FF3FD5, -2px 2px 0 #43C7FF;
  }
}

p {
    margin:0;
    margin-bottom:.5rem;
}

hr {
    border:0;
    border-top:1px solid rgba(255,255,255,.2);
    margin:0 auto 1.5rem auto;
}

.ml-2 {
    margin:0;
    margin-left:1rem;
}

.container {
    max-width:600px;
    padding:2rem;
    margin:auto;
}

.btn.btn-primary {
    width:100%;
    color:#fff;
    background:transparent;
    border:1px solid white;
    transition:all .4s ease;
    border-radius:0;
}

.btn.btn-primary:hover,.btn.btn-primary:focus,.btn.btn-primary.active {
    color:#111;
    background:#fff;
    border:1px solid white;
    transition:all .4s ease;
}

::-moz-selection { background: transparent;}
::selection { background: transparent;}


/************
custon classes 
************/


.hero {
    height:100vh;
    background:#111;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero-title{
    font-size:20rem;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:10px;
    margin:auto;
}

.hero-title a {
    color:#fff;
    animation-duration: 0.01s;
    animation-name: cyclone;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition:all .4s ease;
}

.hero-title a:hover, .hero-title a:focus{
    color:#FF3FD5!important;
    animation-duration: 0.01s;
    animation-name: cyclone;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition:all .4s ease;
}


/************ 
sprint 1 song 
************/


.redknot {
    font-family: 'Noto Serif KR', serif;
}

.intro, .verse, .chorus, .solo,
.strophe {
    margin-bottom:3rem;
}

.chorus {
    font-family: 'Ruthie', cursive;
    font-size:2.2rem;
}

.verse {
    font-family: 'Eater', cursive;
    font-size:1.2rem;
}

.solo {
    font-family: 'akronim', cursive;
    font-size:1.6rem;
}

.back {
    opacity:.2;
    animation-duration: 0.01s;
    animation-name: cyclone;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/************
sprint 2 song 
************/



.lo {
    font-size:20rem;
    color:transparent;

    animation-duration: 4s;
    animation-name: orcan;
    animation-delay:4s;
    transition:all .4s ease;
}

.fys {
    font-size:20rem;
    color:transparent;
    
    animation-duration: 4s;
    animation-name: orcan;
    animation-delay: 10s;
    transition:all .4s ease;
}


@keyframes orcan {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }
  