@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

/************
sprint 2 song 
************/

h1 {
  font-family: 'Rock 3D', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 20vw;
  white-space: nowrap;
  text-align: center;
  line-height: 1;
  letter-spacing: -2vw;
  word-spacing: -8vw;
  animation: cyclone infinite .1s;
}

@keyframes cyclone {
  from {
    text-shadow: 4px 0 0 #FF3FD5, -4px 0 0 #43C7FF;
  }
  to {
    text-shadow: 8px 4px 0 #FF3FD5, -4px 4px 0 #43C7FF;
  }
}

.lookout {
  opacity:0;
}

.lo {
    position: relative;
    left: -6%;
    margin-top:10vw;
}

.ys {
    position: relative;
    left: -10%;
}

.para {
  margin: 16% auto;
  white-space: pre;
  font-family: "Lacquer", serif;
  font-size: 27px;
  letter-spacing: 0px;
  line-height: 1.2;
}

.oyt {
  height:100vh; 
  margin:10vh auto;
  display:flex;
  align-items: center;
  justify-content: center;
}

.ty, .bo {
  width:100%;
  margin:auto;
}

.huh {
  height:100vh; 
  margin:10vh auto;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity:0;
}


p {
  width: 102%;
  margin-left:-1%;
  font-size: 8rem;
  display: block;
  text-align: justify;
  line-height: .5;
}

.char{
  font-size: 8rem;
  line-height: .5;
  height: 40px;
  animation: rap 1s ease-out 1 both;
  animation-delay: 100s;
  display: inline-block;
}


@keyframes rap{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}


  