@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

/************
general themes 
************/

body {
    background:#111;
    color:#ced4da;
    font-family: 'Lacquer', cursive;
    font-size:1.2rem;
    overflow-x: hidden;
}

a {
    text-decoration: none!important;
}


::-moz-selection { background: transparent;}
::selection { background: transparent;}

.static {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:url(https://cdn.discordapp.com/attachments/746833184662224966/940698343192018964/ezgif.com-gif-maker.gif) center fixed;
    opacity:1;
    z-index:-1;
}

.scanlines {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:url(https://blackwings.neocities.org/ti/tile01.gif) center fixed;
    background-size:5px;
    opacity:.5;
    z-index:-1;
}

::-webkit-scrollbar {
  width: 0;
}